@media(min-width: 1600px) {
  .banner-container {
    height: calc(100vh - 90px);
  }

  .banner-container .content h1 {
    font-size: 5em;
  }

  .services-container .container .items h2 {
    font-size: 20px;
  }

  .inner-portfolio-page .banner-container .column .mockup {
    margin-bottom: -40px;
  }

  .portfolio-container .container .items {
    min-height: 400px;
  }

  .portfolio-container .container .items .img-holder,
  .portfolio-container .container .items .content {
    width: 50%;
  }

  .about-page .introduction-6 .items-container .items img {
    width: 200px;
    height: 200px;
  }

  .about-page .introduction-6 .items-container .items.sm .content h2 {
    font-size: 2em;
  }

  .about-page .introduction-6 .items-container .items.sm .content p {
    font-size: 1em;
  }

  .about-page .introduction-3 p {
    font-size: 20px;
  }

  .about-page .introduction-2 .steps-container li {
    font-size: 18px;
  }

  .about-page .introduction-2 .content p {
    font-size: 16px;
  }

  .about-page .introduction-1 p,
  .contact-page .introduction-1 p {
    font-size: 18px;
  }
}

@media(max-width: 1367px) {
  .banner-container {
    height: calc(100vh - 90px);
  }

  .container {
    width: 80%;
  }

  .services-container {
    margin: 110px auto;
  }
}

@media(max-width: 1024px) {
  .services-container .container .items h2 {
    font-size: 13px;
  }

  .clients-container .items {
    height: 300px;
  }

  .about-page .introduction-6 .items-container .items {
    width: 100%;
    margin-bottom: 25px;
  }

  .inner-portfolio-page .banner-container .container {
    flex-direction: column;
  }

  .inner-portfolio-page .banner-container .project-bg,
  .inner-portfolio-page .banner-container .column .mockup {
    display: none;
  }

  .inner-portfolio-page .banner-container .column {
    width: 100%;
  }
}

@media(max-width: 768px) {
  .container {
    width: 90%;
  }

  header {
    position: fixed;
    padding: 0 20px;
    z-index: 50;
    background-color: #fff;
  }

  header .menu-btn {
    display: block;
  }

  header .menu-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    background-color: #484848;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transition: .3s ease;
    -webkit-transition: .3s ease;
  }

  header .menu-container.active {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    opacity: 1;
    padding-top: 15%;
    visibility: visible;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transition: .3s ease;
    -webkit-transition: .3s ease;
  }

  header .menu-container ul {
    width: 100%;
  }

  header .menu-container ul>li,
  header .menu-container ul>li.btn {
    display: block;
    padding: 20px;
    margin-bottom: 20px;
  }

  header .menu-container ul>li>a {
    padding: 0;
    display: block;
    color: #fff;
    font-size: 18px;
    text-align: center;
  }

  header .menu-container ul>li.btn>a {
    font-size: 18px;
  }

  header .menu-container ul>li>a:hover::after,
  header .menu-container ul>li.active>a::after {
    width: 80px;
  }

  header .menu-container ul>li>a::after {
    display: none;
  }

  .banner-container,
  .service-page .banner-container {
    height: auto;
    margin-top: 40px;
  }

  .banner-container .content h1,
  .banner-container .content h2,
  .banner-container .content h4 {
    color: #707070;
  }

  .portfolio-page .banner-container,
  .about-page .banner-container {
    height: auto;
    padding: 90px 0;
  }

  .service-page .banner-container {
    padding-bottom: 40px;
  }

  .banner-container .container {
    width: 90%;
  }

  .banner-container .content {
    text-align: center;
  }

  .banner-container .content h1 {
    font-size: 2.4em;
  }

  .about-page .banner-container .content h1 {
    font-size: 2.4em;
  }

  .cd-words-wrapper {
    text-align: center;
  }

  .service-page .banner-container .content h1,
  .portfolio-page .banner-container .content h1,
  .introduction-1 h2,
  .introduction-2 h2,
  .introduction-3 h2 {
    font-size: 1.85em;
  }

  .banner-container .content h2 {
    font-size: 1.4em !important;
  }

  .banner-container .content p,
  .service-page .banner-container .content p,
  .portfolio-page .banner-container .content p,
  .introduction-1 p,
  .introduction-2 p,
  .introduction-3 p {
    font-size: 18px;
    max-width: none;
  }

  .services-container .container,
  .services-container .container .items .header,
  .projects-container .container,
  .introduction-2 .row,
  .introduction-2 .row:nth-child(odd),
  .clients-container .items-container,
  .slider-container,
  footer .container {
    flex-direction: column;
  }

  .services-container .container .items .header svg {
    height: 80px;
  }

  .parnters-container .container .content {
    padding: 20px 0;
  }

  .services-container {
    margin: 50px auto;
  }

  .service-page .introduction-2 .row h2 {
    color: #707070;
  }

  .service-page .introduction-2 .row h2::after {
    background-color: var(--main-theme-color);
  }

  .services-container .container .items {
    margin-bottom: 0;
    text-align: center;
  }

  .services-container .container .items a {
    color: var(--main-theme-color);
    background-color: #eee;
    margin: 25px auto 25px auto;
    width: auto;
    padding: 10px 40px;
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }



  .services-container .container .items .header svg,
  .portfolio-container .container .items .content {
    margin-right: 0;
  }

  .projects-container .container {
    width: auto;
  }

  .projects-container .container .items,
  .projects-container .container .items:not(:last-child) {
    width: auto;
  }

  .projects-container .container .items {
    min-height: 240px;

  }

  .projects-container .container .items:last-child {
    min-height: 100px;
  }

  .projects-container .container .items::before {
    height: 100%;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .projects-container .container .items .content {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    padding: 0 25px;
    text-align: center;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }

  .projects-container .container .items:last-child .content {
    position: relative;
    top: 0;
    bottom: 0;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--main-theme-color);
  }

  .projects-container .container .items:last-child h2 {
    font-size: 1.4em;
  }

  .projects-container .container .items:last-child h2 br {
    display: none;
  }

  .projects-container .container .items p {
    font-size: 16px;
  }

  .projects-container .container .items .arrow-right,
  .slider-container::after,
  .project-thumbnails::after {
    display: none;
  }

  .clients-container .title {
    text-align: left;
  }

  .clients-container .title::after {
    left: 0;
    transform: translate(0);
    -webkit-transform: translate(0);
  }

  .clients-container .description {
    max-width: none;
  }

  .clients-container .items,
  footer .items,
  .projects-container .container .items:not(:last-child):hover,
  .project-thumbnails .column {
    width: auto;
  }

  .clients-container .items {
    height: auto;
  }

  .clients-container .items:nth-child(2) {
    margin: 15px 0;
  }

  .clients-container .owl-dots {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }

  .clients-container .owl-carousel button.owl-dot {
    background-color: #c3c3c3;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .clients-container .owl-carousel button.owl-dot.active {
    background-color: var(--main-theme-color)
  }

  .slider-container .item {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;
    padding: 30px;
    padding-top: 10px;
  }

  .slider-container .header-title {
    padding: 0;
  }

  .slider-container .header-title::after {
    left: 0;
  }

  .slider-container .owl-carousel .owl-item img {
    margin: 0 auto;
    height: 205px;
  }

  .slider-container .owl-carousel .owl-stage {
    padding-bottom: 5px;
  }

  .slider-container .title {
    font-size: 1.9em;
  }

  .slider-container ul {
    padding: 0;
  }

  footer .items {
    margin-bottom: 25px;
  }

  .service-page .introduction-2 .row {
    padding: 25px;
  }

  .service-page .introduction-2 .row:nth-child(odd) .half-width {
    margin-left: 0;
  }

  .service-page .introduction-2 .row .half-width {
    margin-right: 0;
    margin-bottom: 25px;
    width: 100%;
  }

  .service-page .introduction-2 .row svg {
    width: 100%;
    opacity: 1;
  }

  .parnters-container {
    height: auto;
  }

  .parnters-container .container,
  .contact-page .introduction-1 .row,
  .about-page .introduction-1,
  .about-page .introduction-2 .content {
    flex-direction: column;
  }

  .service-page .introduction-2 .row,
  .service-page .introduction-2 .row:nth-child(odd) {
    flex-direction: column-reverse;
  }

  .service-page .introduction-2 .row:nth-child(even) {
    background-color: transparent;
  }

  .parnters-container .container h2 {
    display: none;
  }

  .parnters-container .items {
    margin: 0 10px;
  }

  .parnters-container .items img {
    width: auto;
    margin: 0 auto;
    height: 50px;
  }

  .portfolio-container {
    padding: 50px 0 25px 0;
  }

  .contact-page .introduction-1 {
    padding: 10% 0;
  }

  .contact-page .introduction-1 .content:first-child {
    margin-right: 0;
  }

  .about-page .introduction-1 .img-container img {
    width: 100%;
  }

  .about-page .introduction-1 .content {
    margin-left: 0;
    padding: 20px 0;
  }

  .about-page .introduction-2 .content .item-container {
    margin-right: 0;
    width: 100%;
  }

  .about-page .introduction-2 .content .item-container .item img {
    height: 25px;
  }

  .about-page .introduction-2 .content .item-container .item h4 {
    font-size: 16px;
  }

  .about-page .introduction-2 .steps-container li {
    padding-right: 5px;
    font-size: 15px;
  }

  .about-page .introduction-2 .steps-container li:hover {
    color: #b5b5b5;
  }

  .about-page .introduction-2 .steps-container li.active {
    color: #666;
  }

  .about-page .introduction-2 .steps-container li::after {
    display: none;
  }

  .about-page .introduction-2 .content p {
    max-width: none;
  }

  .about-page .introduction-3 p {
    padding: 20px 0;
  }

  .about-page .introduction-3 h2 {
    margin-top: 0 !important;
  }

  .about-page .introduction-6 {
    margin: 0;
  }

  .about-page .introduction-4 .content .icon-container {
    flex: 0 1 calc(33.33% - 20px)
  }

  .service-page .introduction-2 .row:nth-child(odd) .half-width {
    margin: 0;
  }

  .service-page .introduction-2 .row img {
    display: none;
  }

  .inner-portfolio-page .banner-container .container,
  .porject-overview-container .overview-tabs .row,
  .more-projects .row {
    flex-direction: column;
  }

  .inner-portfolio-page .banner-container {
    height: 100%;
  }

  .inner-portfolio-page .banner-container .project-bg,
  .inner-portfolio-page .banner-container .column .mockup,
  .technology-container .column:first-child,
  .technology-container .column:last-child::before,
  .about-page .introduction-3::after {
    display: none;
  }

  .technology-container .column:last-child {
    justify-content: unset;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 20px;
  }

  .porject-overview-container {
    padding-top: 20px;
  }

  .project-thumbnails {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .project-thumbnails .gallery-container {
    position: relative;
    width: 100%;
    right: 0;
    margin-bottom: 35px;
  }

  .project-thumbnails .owl-carousel {
    box-shadow: none;
  }

  .inner-portfolio-page .banner-container .column,
  .technology-container .column,
  .porject-overview-container .overview-tabs .tabs,
  .more-projects .items {
    width: 100%;
  }

  .porject-overview-container .overview-tabs .row {
    padding: 0;
  }

  .porject-overview-container .overview-tabs .tabs {
    margin-bottom: 25px;
  }

  .project-thumbnails .gallery-container .owl-dots {
    display: block;
    background-color: #484848;
    text-align: center;
    padding: 10px 0;
  }

  .project-thumbnails .gallery-container .owl-carousel button.owl-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #999;
    margin: 0 5px;
  }

  .project-thumbnails .gallery-container .owl-carousel button.owl-dot.active {
    background-color: var(--main-theme-color);
  }

  .project-thumbnails .column:first-child {
    width: 100%;
  }

  .project-thumbnails .column h2 {
    color: #777;
  }

  .porject-overview-container .overview-tabs .tabs:last-child {
    align-items: flex-start;
  }

  .more-projects .items:nth-child(2) {
    margin: 0;
  }

  #freeQuote h2 {
    font-size: 20px;
  }

  #freeQuote .close-btn {
    top: 20px;
    right: 20px;
  }

  #freeQuote .row {
    flex-direction: column;
    margin-bottom: 0;
  }

  #freeQuote .row .form-group {
    margin-right: 0;
    margin-bottom: 20px;
  }

  #freeQuote .row:nth-child(1) .form-group,
  #freeQuote .row:nth-child(2) .form-group {
    width: 100%;
  }

  #freeQuote .btn {
    width: 100%;
  }

  footer .items h2 {
    font-size: 18px;
  }

  .main-page .contact-page .introduction-1 .content,
  .contact-page .introduction-1 .content {
    height: auto;
    width: 100%;
  }

  .contact-page .introduction-1 .row {
    margin-top: 10px;
  }

  .main-page .contact-page .introduction-1 .row .content:last-child {
    margin-top: 30px;
  }

  .contact-page .introduction-1 .items ul>li {
    width: 25px;
    height: 25px;
  }

  .contact-page .introduction-1 .items ul>li>a {
    width: 25px;
    height: 25px;
    background-size: 25px;
    opacity: 0.4;
  }

  .contact-page .introduction-1 .row .btn {
    width: 100%;
  }

  .about-page .introduction-4 .content .icon-container img {
    width: 60px;
    height: 60px;
  }

  .about-page .introduction-6 .items-container .items .content p {
    font-size: 1.2em;
  }

  .about-page .introduction-6 .items-container .items .content ul {
    margin-bottom: 20px;
  }

  .about-page .introduction-6 .items-container .items .content ul>li {
    margin: 0 10px;
  }

  .about-page .introduction-6 .items-container .items .content ul>li>a {
    width: 22px;
    height: 22px;
    background-size: 22px;
  }

  .about-page .introduction-6 .items-container .items img {
    width: 150px;
    max-height: 150px;
    border-radius: 100%;
    object-fit: cover;
    margin: 10px auto;
  }

  .about-page .introduction-6 .items-container .items .content h2 {
    font-size: 1.3em;
  }

  .about-page .introduction-6 .items-container {
    flex-direction: column;
    align-items: center;
  }

  .about-page .introduction-6 .items-container .items {
    width: 70%;
  }

  .services-container .container .items p {
    overflow: unset;
    max-height: none;
    display: -webkit-box;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
  }

  footer .container {
    padding-bottom: 15px;
  }

  .portfolio-container .container .items img {
    bottom: unset;
    top: 5%;
  }

  .portfolio-container .container .items:nth-child(2) img:first-child,
  .portfolio-container .container .items:nth-child(4) img:first-child,
  .portfolio-container .container .items:nth-child(6) img:first-child,
  .portfolio-container .container .items:nth-child(8) img:first-child {
    left: -150px;
  }
}

@media(max-width: 556px) {
  .cd-words-wrapper {
    width: 100% !important;
  }

  .slider-container .owl-carousel .owl-item img {
    width: auto;
  }

  .about-page .introduction-6 .items-container .items {
    width: 100%;
    flex: 1;
    flex-direction: column-reverse;
    margin: 0;
    margin-bottom: 25px;
    align-items: center;
    text-align: center;
  }

  .portfolio-container .container .items:nth-child(2) img:first-child,
  .portfolio-container .container .items:nth-child(4) img:first-child,
  .portfolio-container .container .items:nth-child(6) img:first-child,
  .portfolio-container .container .items:nth-child(8) img:first-child {
    display: none;
  }

  .portfolio-container .container .items img,
  .portfolio-container .container .items:nth-child(2) img,
  .portfolio-container .container .items:nth-child(4) img,
  .portfolio-container .container .items:nth-child(6) img,
  .portfolio-container .container .items:nth-child(8) img {
    max-height: unset;
    position: relative;
    left: 0 !important;
  }

  .portfolio-container .container .items .img-holder {
    min-height: unset;
  }

  .portfolio-container .container .items,
  .portfolio-container .container .items:nth-child(even) {
    min-height: auto;
    background-color: transparent;
    flex-direction: column-reverse;
    margin-bottom: 25px;
  }

  .portfolio-container .container .items img,
  .portfolio-container .container .items:nth-child(2) img,
  .portfolio-container .container .items:nth-child(4) img,
  .portfolio-container .container .items:nth-child(6) img,
  .portfolio-container .container .items:nth-child(8) img {
    position: relative;
    top: unset !important;
    bottom: unset !important;
    left: unset !important;
    width: 100% !important;
    height: auto;
    max-height: 300px;
    object-fit: contain;
  }

  .portfolio-container .container .items:nth-child(2) .img-holder,
  .portfolio-container .container .items:nth-child(4) .img-holder,
  .portfolio-container .container .items:nth-child(6) .img-holder,
  .portfolio-container .container .items:nth-child(8) .img-holder {
    padding: 30px;
    padding-bottom: 0;
  }

  .portfolio-container .container .items .img-holder {
    width: 100%;
    background-color: #e2e2e2;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .portfolio-container .container .items .content {
    width: 100%;
  }

  .portfolio-container .container .items .content:first-child {
    padding: 20px 0;
  }

  .about-page .introduction-6 .items-container .row {
    flex-direction: column;
  }

  .about-page .introduction-6 .items-container .items.sm {
    flex: 1;
    margin: 0 0 15px 0;
  }
}